@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";



body {

}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #111111;
  color: #fff
}

.button {
  margin-top: 30px;
  width: 100%;
}
p {
  font-size: xx-large;
  text-align: center;
}